html{
    background-color: #191919;
}
.about{
    font-family:Anek Kannada, sans-serif;
    color:#F3EEEA;
    text-align: center;
    width:50%;
    margin-left: 25%;
    border-radius: 10px;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(169, 137, 156, 0.568);
    transition: 0.3s;
    padding-bottom: 5px;
    
}
.about:hover{
    box-shadow: 0 8px 10px 0 rgba(63, 122, 230, 0.2);
}
.about p{
    padding: 25px 25px 30px 25px;
    text-align: justify;
}
.about img{
    padding-bottom: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 25%;
    height: 25%;
    border-radius: 100%;;
    margin-right: 70%;
    margin-bottom: 30%;
    
    
    
}
p{
        margin-left: 30%;
       margin-top: -50%;
       padding-bottom: 0px;
      
       
}
.myprojects{
    font-family:Anek Kannada, sans-serif;
    color:#F3EEEA;
    text-align: center;
    width:50%;
    margin-left: 25%;
    
}
.card1{
    font-family:'Courier New', Courier, monospace;
    color:#F3EEEA;
    padding: 20px 20px 20px 20px;
   
     /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(169, 137, 156, 0.568);
    transition: 0.3s;
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
      
}   
.card1:hover {
    box-shadow: 0 8px 10px 0 rgba(63, 122, 230, 0.2);
  }
.card1 img{
        width: 100%;
        height: 100%;
        border-radius: 10%;
    }

a{
    text-decoration: none;
    color: #F3EEEA;
}
.card2{
    font-family:'Courier New', Courier, monospace;
    color:#F3EEEA;
    padding: 20px 20px 20px 20px;
   
     /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(169, 137, 156, 0.568);
    transition: 0.3s;
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
      
}   
.card2:hover {
    box-shadow: 0 8px 10px 0 rgba(63, 122, 230, 0.2);
  }
.card2 img{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }

  .container {
    padding: 2px 11px;
    
  }
a{
    text-decoration: none;
    color: #F3EEEA;
}
.cards-container {
    display: flex;

}


.card3{
    font-family:'Courier New', Courier, monospace;
    color:#F3EEEA;
    padding: 20px 20px 20px 20px;
   
     /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(169, 137, 156, 0.568);
    transition: 0.3s;
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
      
}   
.card3:hover {
    box-shadow: 0 8px 10px 0 rgba(63, 122, 230, 0.2);
  }
.card3 img{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }

  .container {
    padding: 2px 11px;
    
  }
a{
    text-decoration: none;
    color: #F3EEEA;
}
.cards-container {
    display: flex;

}

.card1, .card2, .card3{
    margin: 20px; /* Adjust as needed */
}

